<button id="run-wasm">Run</button>

<script>
  var button = document.getElementById("run-wasm");
  button.addEventListener("click", function(e) {
      fetch('add.wasm')
          // Read the wasm into an arraybuffer
          .then(response => response.arrayBuffer())
          // Create a callable webassembly object from the arrayBuffer
          .then(bytes => WebAssembly.instantiate(bytes, {}))
          .then(results => {
              // Call the exported "add_one" function and alert with it's result
              alert(results.instance.exports.add_one(41));
          });
  });
</script>
