<button id="run-wasm">Run</button>
<script>
  window.Module = {};
  
  // Helper Functions, shamelessly stolen from hellorust.com

  // Create a WebAssembly Module from a url and some environment config
  function fetchAndInstantiate(url, importObject) {
      return fetch(url) .then(
          response => response.arrayBuffer()).then(
          bytes => WebAssembly.instantiate(bytes, importObject)).then(
          results => results.instance);
  }

  // Copy a nul-terminated string from the buffer pointed to.
  // Consumes the old data and thus deallocated it.
  function copyCStr(module, ptr) {
      let orig_ptr = ptr;
      const collectCString = function* () {
          let memory = new Uint8Array(module.memory.buffer);
          while (memory[ptr] !== 0) {
              if (memory[ptr] === undefined) {
                  throw new Error("Tried to read undef mem")
              }
              yield memory[ptr]
              ptr += 1
          }
      }

      const buffer_as_u8 = new Uint8Array(collectCString())
      const utf8Decoder = new TextDecoder("UTF-8");
      const buffer_as_utf8 = utf8Decoder.decode(buffer_as_u8);
      module.dealloc_str(orig_ptr);
      return buffer_as_utf8
  }

  const imports = {
      env: {
          my_alert: function(ptr, number) {
              let str = copyCStr(Module, ptr);
              alert(str + " -> " + number);
          }
      }
  };

  var button = document.getElementById("run-wasm");
  button.addEventListener("click", function(e) {
      fetchAndInstantiate("./hello.wasm", imports)
          .then(mod => {
              // Wire up a Module containing our wasm module's memory
              Module.memory      = mod.exports.memory;
              // and a reference to our rust function
              Module.hello_world = mod.exports.hello_world;
              // and a way for JS to clean up the rust string
              Module.dealloc_str = mod.exports.dealloc_str;
              // Call our rust code that will call our JS code!
              Module.hello_world();
          });
  });

</script>
